{% extends "layout.twig" %}

{% block body %}
    <div id="app"></div>
{% endblock %}

{% block body_script %}
    {% verbatim %}
    <script id="entry-template" type="text/x-handlebars-template" src="/">
        <table class="table">
            <tr>
                <th>IP</th>
                <th>Browser</th>
                <th>OS</th>
                <th>Source</th>
                <th>Last page</th>
                <th>Total pages</th>
            </tr>
            {{#each visits}}
            <tr>
                <td>{{ip}}</td>
                <td>{{browser}}</td>
                <td>{{os}}</td>
                <td>{{first_referer}}</td>
                <td>{{last_path}}</td>
                <td>{{unique_visits}}</td>
            </tr>
            {{/each}}
        </table>
    </script>
    <script>
        var App = function () {
            var self = this;
            this.container = null;
            this.tableTemplate = document.getElementById("entry-template").innerHTML;

            this.init = function (container) {
                this.container = $(container);
                this.featchData();
            };

            this.featchData = function () {
                $.get('/api/v1/visits', function (response) {
                    var template = Handlebars.compile(self.tableTemplate);
                    var html = template({
                        visits: response.visits
                    });

                    self.container.html(html);
                });
            };
        };

        $(function () {
            var app = new App();
            app.init(document.getElementById('app'));
        });
    </script>
    {% endverbatim %}
{% endblock %}